body{padding:0;margin:0;font-size:1rem; color:#333; background-color:#FFF;}
*{font-family:'Arial','Microsoft Yahei';}
ul{list-style:none;}
p,h1,h2,h3,h4,h5,ul{padding:0;margin:0;}
img{border:0;}
a{color:#333;text-decoration:none;transition:color 0.3s;-moz-transition:color 0.3s;-webkit-transition: color 0.3s;-o-transition: color 0.3s;}
a:hover{color:#999;}
a.box{display:block;}
.in{margin:0 auto;padding:0 1rem;box-sizing:border-box;}
.fsLarge{font-size:3rem;}
.fs9{font-size:2.25rem;}
.fs8{font-size:2rem;}
.fs7{font-size:1.75rem;}
.fs6{font-size:1.5rem;}
.fs5{font-size:1.25rem;}
.fs4{font-size:1rem;}
.fs14{font-size:0.875rem;}
.fs3{font-size:0.75rem;}
.bold{font-weight:bold;}
.vtop{vertical-align:top!important;}
.vmiddle{vertical-align:middle;}
.lightcolor{color:#999;}
.maskBox{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.9);color:#FFF;transform:translateY(100%);-webkit-transform:translateY(100%);-ms-transform:translateY(100%);-o-transform:translateY(100%); transition:transform 0.3s ease-out; }
.maskBox{white-space:nowrap;}
.maskBox:after{display:inline-block;content:'';height:100%;width:0%;overflow:hidden;vertical-align:middle;}
.maskBox *{display:inline-block;vertical-align:middle;white-space:normal;padding:0 1rem;}
.hvShow{visibility:hidden;}
.hvBacker{position: relative;overflow: hidden;}
.hvBacker:hover .hvShow{visibility:visible;}
.hvBacker:hover .maskBox{transform:translateY(0%);-webkit-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%); }
.innerContent{line-height:2;}
.fixedBg{background-attachment:fixed;}
.iconfont{font-family:'iconfont';font-weight:normal;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.textleft{text-align:left;}
.nowrap{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.full-w{width:100%;}
.full-h{height:100%;}
.full{height:100%;width:100%;}
.full>.tbcol{height:100%;}
img.img{max-width:100%;vertical-align:top;}
.bgpic{background-position:center center;background-size:cover; background-color:#e8e8ee}
a.bgpic{display:block;}
.overflowHidden{overflow:hidden;}
.tblay{display:table;}
.tbrow{display:table-row;}
.tbcol{display:table-cell;}
.textright{text-align:right;}
.relative{position:relative}
.absolute{position:absolute;}
.s0x0:after,.s4x3:after,.s1x1:after,.s3x4:after,.s16x9:after,.s9x16:after{content:'';display:block;}
.s4x3:after{padding-top: 75%;}
.s1x1:after{padding-top: 100%;}
.s3x4:after{padding-top: 133.33%;}
.s16x9:after{padding-top: 56.25%;}
.s9x16:after{padding-top: 177.77%;}
.s0x0:after{padding-top: 100%;}
.s0x0{border-radius:50%;}
.marginTop1{margin-top:1rem;}.marginTop2{margin-top:2rem;}.marginTop3{margin-top:3rem;}.marginTop4{margin-top:4rem;}.marginTop5{margin-top:5rem;}.marginTop6{margin-top:6rem;}
.marginBottom1{margin-bottom:1rem;}.marginBottom2{margin-bottom:2rem;}.marginBottom3{margin-bottom:3rem;}.marginBottom4{margin-bottom:4rem;}.marginBottom5{margin-bottom:5rem;}.marginBottom6{margin-bottom:6rem;}
.marginLeft1{margin-left:1rem;}.marginLeft2{margin-left:2rem;}.marginLeft3{margin-left:3rem;}.marginLeft4{margin-left:4rem;}.marginLeft5{margin-left:5rem;}.marginLeft6{margin-left:6rem;}
.marginRight1{margin-right:1rem;}.marginRight2{margin-right:2rem;}.marginRight3{margin-right:3rem;}.marginRight4{margin-right:4rem;}.marginRight5{margin-right:5rem;}.marginRight6{margin-right:6rem;}
.padding1{padding:1rem;}.padding2{padding:2rem;}.padding3{padding:3rem;}.padding4{padding:5rem;}.padding5{padding:5rem;}.padding6{padding:6rem;}
.paddingLeft1{padding-left:1rem;}.paddingLeft2{padding-left:2rem;}.paddingLeft3{padding-left:3rem;}.paddingLeft4{padding-left:5rem;}.paddingLeft5{padding-left:5rem;}.paddingLeft6{padding-left:6rem;}
.paddingRight1{padding-right:1rem;}.paddingRight2{padding-right:2rem;}.paddingRight3{padding-right:3rem;}.paddingRight4{padding-right:5rem;}.paddingRight5{padding-right:5rem;}.paddingRight6{padding-right:6rem;}
.paddingTop1{padding-top:1rem;}.paddingTop2{padding-top:2rem;}.paddingTop3{padding-top:3rem;}.paddingTop4{padding-top:5rem;}.paddingTop5{padding-top:5rem;}.paddingTop6{padding-top:6rem;}
.paddingBottom1{padding-bottom:1rem;}.paddingBottom2{padding-bottom:2rem;}.paddingBottom3{padding-bottom:3rem;}.paddingBottom4{padding-bottom:5rem;}.paddingBottom5{padding-bottom:5rem;}.paddingBottom6{padding-bottom:6rem;}
.clearfloat:after{display: block; content:'';clear: both;}
.hvBgpicsBlur .box .bgpic{transition: all 0.5s;}
.hvBgpicsBlur .box:hover .bgpic{filter:blur(5px);}
.hvBgpicsBlur .blurBacker{position: relative;}
.hvBgpicsBlur .box:hover .blurBacker:before{content:'';width:100%;position: absolute;height:100%;left:0;top:0;background-color:#000;opacity: 0.5;z-index: 1;}
.hvBgpicsBlur .blurBacker.bgWhite:before{background-color:#FFF!important;}
.hv-slide-down{max-height:0;overflow: hidden; transition: max-height  0.5s ease-out;}
.hv-slide-backer:hover .hv-slide-down{max-height:2000px; position: static; transition: max-height 1s  ease-in;}
.z-index-0{z-index-0;}.z-index-1{z-index: 1;}.z-index-2{z-index: 2;}.z-index-3{z-index:3;}.z-index-4{z-index:4;}
.left{left:0;}  .right{right:0;}.top{top:0;}.bottom{bottom:0;}
.L-2:after,.L-3:after,.L-4:after,.L-5:after,.L-6:after,.L-7:after,.L-8:after{display:block;content:'';clear:float;}
.L-2 > .item,.L-3 > .item,.L-4 > .item,.L-5 > .item,.L-6 > .item,.L-7 > .item,.L-8 > .item{float:left;padding-left:2rem;margin-bottom:2rem;box-sizing:border-box;}
.L-2,.L-3,.L-4,.L-5,.L-6,.L-7,.L-8{margin-left:-2rem;margin-bottom:-2rem;}
.L-2 > .item{width:50%}
.L-3 > .item{width:33.33%}
.L-4 > .item{width:25%}
.L-5 > .item{width:20%}
.L-6 > .item{width:16.66%}
.L-7 > .item{width:14.28%}
.L-8 > .item{width:12.5%}
.TL-1 .tbcol{width:100%;}
.TL-2 .tbcol{width:50%;}
.TL-3 .tbcol{width:33.33%;}
.TL-4 .tbcol{width:25%;}
.TL-5 .tbcol{width:20%;}
.TL-6 .tbcol{width:16.66%;}
.TL-7 .tbcol{width:14.28%;}
.TL-8 .tbcol{width:12.5%;}
.l-p-absolute{position:absolute;}.l-p-fixed{position:fixed;}.l-p-relative{position:relative;}.l-p-static{position:static;}
.items-no-spacing{margin-left:0;margin-bottom:0;}
.itemsSpacing1{margin-left:-1rem!important;margin-bottom:-1rem;}
.itemsSpacing2{margin-left:-2rem!important;margin-bottom:-2rem;}
.itemsSpacing3{margin-left:-3rem!important;margin-bottom:-3rem;}
.itemsSpacing4{margin-left:-4rem!important;margin-bottom:-4rem;}
.itemsSpacing5{margin-left:-5rem!important;margin-bottom:-5rem;}
.itemsSpacing6{margin-left:-6rem!important;margin-bottom:-6rem;}
.itemsSpacing7{margin-left:-7rem!important;margin-bottom:-7rem;}
.itemsSpacing8{margin-left:-8rem!important;margin-bottom:-8rem;}
.itemsSpacing9{margin-left:-9rem!important;margin-bottom:-9rem;}
.itemsSpacing1>.item{padding-left:1rem!important;margin-bottom:1rem!important;}
.itemsSpacing2>.item{padding-left:2rem!important;margin-bottom:2rem!important;}
.itemsSpacing3>.item{padding-left:3rem!important;margin-bottom:3rem!important;}
.itemsSpacing4>.item{padding-left:4rem!important;margin-bottom:4rem!important;}
.itemsSpacing5>.item{padding-left:5rem!important;margin-bottom:5rem!important;}
.itemsSpacing6>.item{padding-left:6rem!important;margin-bottom:6rem!important;}
.itemsSpacing7>.item{padding-left:7rem!important;margin-bottom:7rem!important;}
.itemsSpacing8>.item{padding-left:8rem!important;margin-bottom:8rem!important;}
.itemsSpacing9>.item{padding-left:9rem!important;margin-bottom:9rem!important;}
.items-no-spacing>.item{padding-left:0;margin-bottom: 0;}
.itemsSpacing1 .space,.itemsSpacing2 .space,.itemsSpacing3 .space,.itemsSpacing4 .space,.itemsSpacing5 .space,.itemsSpacing6 .space,.itemsSpacing7 .space,.itemsSpacing8 .space,.itemsSpacing9 .space{width:1rem;position: absolute;left:100%;top:0;height:100%; }
.itemsSpacing2 .space{width:2rem;}
.itemsSpacing3 .space{width:3rem;}
.itemsSpacing4 .space{width:4rem;}
.itemsSpacing5 .space{width:5rem;}
.itemsSpacing6 .space{width:6rem;}
.itemsSpacing7 .space{width:7rem;}
.itemsSpacing8 .space{width:8rem;}
.itemsSpacing9 .space{width:9rem;}
.boxsPd1 .box{padding:1rem;}
.boxsPd2 .box{padding:2rem;}
.boxsPd3 .box{padding:3rem;}
.boxsPd4 .box{padding:4rem;}
.fleft{float:left;}
.fright{float:right;}
.L-fleft{float:left;}
.button{line-height:2;color:#FFF;background-color:#1e237e;padding:0 1rem;display:inline-block;border-radius:6px;transition:all 0.5s;}
.button:hover{background-color:#0c15b3;color:#FFF;}
.button.outline{border:1px solid #1e237e;color:#1e237e;background-color:transparent;}
.button.outline-red{border:1px solid #F00;color:#F00;background-color:transparent;}.button.outline-red:hover{background-color:#F00;color:#FFF;}
.button.btn-red{background-color:#F00;border:none;position:relative;}.button.btn-red:hover{ background-color:#CC0000;}
.button.btn-white{background-color:#FFF;color:#1e237e;border:none;}.button.btn-white:hover{background-color:rgba(255,255,255,0.6);}

.boxShadow{box-shadow:0 0 20px rgba(29,32,136,0.2);}
.borderRadius{border-radius:6px;}
.bgpicsRadius .bgpic{border-radius:6px;overflow:hidden;}
.bgpicsBoxShadow .bgpic{box-shadow:0 0 20px rgba(29,32,136,0.2);}
.boxsBoxShadow .box{box-shadow:0 0 20px rgba(0,0,0,0.1);}
.boxsRadius .box{border-radius:6px;overflow:hidden;}
.radiusHalf{border-radius:50%;}
.bgpicsRelative .bgpic{position:relative;}
.bgPosBottom{background-position:center bottom;}
.hvBoxsShadow .box{transition:box-shadow 0.5s;}
.hvBoxShadow:hover{box-shadow:0 1rem 3rem rgba(29,32,136,0.2);}
.hvBoxsShadow .box:hover{box-shadow:0 1rem 3rem rgba(29,32,136,0.2);}
.innerMiddle *{vertical-align:middle;display:inline-block;}
.innerMiddle:after{content:'';display:inline-block;width:0px;height:100%;vertical-align:middle;visibility:hidden;}
.inline{display:inline;}
.inlineBlock{display:inline-block;}
.max-height{max-height: 100%;}.max-width{max-width: 100%;}
.fixLine1{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.fixLine2,.fixLine3,.fixLine4,.fixLine5,.fixLine6,.fixLine7,.fixLine8,.fixLine9{overflow:hidden;display:block;display: -webkit-box;-webkit-box-orient: vertical;}
.fixLine2{-webkit-line-clamp:2;}
.fixLine3{-webkit-line-clamp:3;}
.fixLine4{-webkit-line-clamp:4;}
.fixLine5{-webkit-line-clamp:5;}
.fixLine6{-webkit-line-clamp:6;}
.fixLine7{-webkit-line-clamp:7;}
.fixLine8{-webkit-line-clamp:8;}
.fixLine9{-webkit-line-clamp:9;}
.lineHeight1{line-height:1;}.lineHeight1-5{line-height:1.5;}
.lineHeight2{line-height:2;}.lineHeight2-5{line-height:2.5;}
.lineHeight3{line-height:5;}.lineHeight3-5{line-height:3.5;}
.lineHeight4{line-height:4;}.lineHeight4-5{line-height:4.5;}
.lineHeight5{line-height:5;}.lineHeight5-5{line-height:5.5;}

.fixLine2.fs3{line-height:2;height:3rem;}
.fixLine2.fs4{line-height:2;height:4rem;}
.fixLine2.fs5{line-height:2;height:5rem;}
.fixLine2.fs6{line-height:2;height:6rem;}
.fixLine2.fs7{line-height:2;height:7rem;}
.fixLine2.fs8{line-height:2;height:8rem;}
.fixLine2.fs9{line-height:2;height:9rem;}

.fixLine3.fs3{line-height:2;height:4.5rem;}
.fixLine3.fs4{line-height:2;height:6rem;}
.fixLine3.fs5{line-height:2;height:7.5rem;}
.fixLine3.fs6{line-height:2;height:9rem;}
.fixLine3.fs7{line-height:2;height:10.5rem;}
.fixLine3.fs8{line-height:2;height:12rem;}
.fixLine3.fs9{line-height:2;height:13.5rem;}

.fixLine4.fs3{line-height:2;height:6rem;}
.fixLine4.fs4{line-height:2;height:8rem;}
.fixLine4.fs5{line-height:2;height:10rem;}
.fixLine4.fs6{line-height:2;height:12rem;}
.fixLine4.fs7{line-height:2;height:14rem;}
.fixLine4.fs8{line-height:2;height:16rem;}
.fixLine4.fs9{line-height:2;height:18rem;}

.flex{display:flex;display:-webkit-flex; flex-wrap:wrap;align-items:stretch;-webkit-align-items: stretch;}
.flex-i{display:flex!important;display:-webkit-flex!important;}
.flex.boxsFull>.item{display:flex;display:-webkit-flex;align-items:stretch;;-webkit-align-items: stretch;}
.flex.boxsFull>.item>.box{box-sizing: border-box;flex:1;-webkit-flex: 1;}

.row{display:flex;display:-webkit-flex; flex-wrap:wrap;align-items:stretch;-webkit-align-items: stretch;}
.items-center{justify-content:center;-webkit-justify-content: center;}
.items-middle{align-items: center;-webkit-align-items: center;}
.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{display:block;float:left;}
.col-12{width:100%;}
.col-11{width:91.66%;}
.col-10{width:83.33%;}
.col-9{width:75%;}
.col-8{width:66.66%;}
.col-7{width:58.33%;}
.col-6{width:50%;}
.col-5{width:41.66%;}
.col-4{width:33.33%;}
.col-3{width:25%;}
.col-2{width:16.66%;}
.col-1-i{width:8.33%!important;}
.col-12-i{width:100%!important;}
.col-11-i{width:91.66%!important;}
.col-10-i{width:83.33%!important;}
.col-9-i{width:75%!important;}
.col-8-i{width:66.66%!important;}
.col-7-i{width:58.33%!important;}
.col-6-i{width:50%!important;}
.col-5-i{width:41.66%!important;}
.col-4-i{width:33.33%!important;}
.col-3-i{width:25%!important;}
.col-2-i{width:16.66%!important;}
.col-1-i{width:8.33%!important;}

.hide{display:none;}
.nodrag{pointer-events: none;}
.noselect{-moz-user-select: none;-webkit-user-select: none;	-ms-user-select: none;-khtml-user-select: none;user-select: none; }

.nav-mobile-btn{display:none;overflow: hidden;}
.nav-mobile-btn>em{width: 1.5rem;height: 0.125rem;border-radius: 1px;background-color: #FFF;display: block;margin: 0.32rem auto;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.nav-mobile-btn.active>em:nth-child(1){-webkit-transform: translateY(0.45rem) rotate(45deg);-ms-transform: translateY(0.45rem) rotate(45deg);-o-transform: translateY(0.45rem) rotate(45deg);transform: translateY(0.45rem) rotate(45deg);}
.nav-mobile-btn.active>em:nth-child(2){opacity: 0;}
.nav-mobile-btn.active>em:nth-child(3){-webkit-transform: translateY(-0.45rem) rotate(-45deg);-ms-transform: translateY(-0.45rem) rotate(-45deg);-o-transform: translateY(-0.45rem) rotate(-45deg);transform: translateY(-0.45rem) rotate(-45deg);}
.nav-mobile-show{display:block!important;}

@media screen and (max-width:1024px){
	.col-x-12{width:100%;}
	.col-x-11{width:91.66%;}
	.col-x-10{width:83.33%;}
	.col-x-9{width:75%;}
	.col-x-8{width:66.66%;}
	.col-x-7{width:58.33%;}
	.col-x-6{width:50%;}
	.col-x-5{width:41.66%;}
	.col-x-4{width:33.33%;}
	.col-x-3{width:25%;}
	.col-x-2{width:16.66%;}
	.col-x-1{width:8.33%;}
	.X-BLOCK{display:block;}
	.x-inline-block{display:inline-block;}
	.X-TEXTCENTER{text-align: center;}
	.X-TEXTLEFT{text-align: left;}
	.X-TEXTRIGHT{text-align: right;}
	.X-1 > .item{width:100%!important;}
	.X-2 > .item{width:50%!important;}
	.X-3 > .item{width:33.33%!important;}
	.X-4 > .item{width:25%!important;}
	.X-5 > .item{width:20%!important;}
	.X-6 > .item{width:16.66%!important;}
	.X-7 > .item{width:14.28%!important;}
	.X-8 > .item{width:12.5%!important;}
	.X-60 > .item{width:60%!important;}
	.X-70 > .item{width:70%!important;}
	.X-80 > .item{width:80%!important;}
	.X-90 > .item{width:90%!important;}
	.X-AUTO >.item{display:block!important;width:auto!important;}
	.X-AUTO{display:block;width:auto;max-width:inherit!important;height:auto;max-height:inherit!important;}
	.X-MARGIN-AUTO{margin:auto;}
	.X-HIDE{display:none;}
	.X-BLOCK{display:block;}
	.col-x-12{width:100%;}
	.col-x-11{width:91.66%;}
	.col-x-10{width:83.33%;}
	.col-x-9{width:75%;}
	.col-x-8{width:66.66%;}
	.col-x-7{width:58.33%;}
	.col-x-6{width:50%;}
	.col-x-5{width:41.66%;}
	.col-x-4{width:33.33%;}
	.col-x-3{width:25%;}
	.col-x-2{width:16.66%;}
	.col-x-1{width:8.33%;}

}

@media screen and (max-width:768px){
	.M-1 > .item{width:100%!important;}
	.M-2 > .item{width:50%!important;}
	.M-3 > .item{width:33.33%!important;}
	.M-4 > .item{width:25%!important;}
	.M-5 > .item{width:20%!important;}
	.M-6 > .item{width:16.66%!important;}
	.M-7 > .item{width:14.28%!important;}
	.M-8 > .item{width:12.5%!important;}
	.M-60 > .item{width:60%!important;}
	.M-70 > .item{width:70%!important;}
	.M-80 > .item{width:80%!important;}
	.M-90 > .item{width:90%!important;}
	.M-AUTO >.item{display:block!important;width:auto!important;}
	.M-AUTO{display:block;width:auto;max-width:inherit!important;height:auto;max-height:inherit!important;}
	.m-no-float{float:none;}
    .TM-1 .tbcol{width:100%;}
    .TM-2 .tbcol{width:50%;}
    .TM-3 .tbcol{width:33.33%;}
    .TM-4 .tbcol{width:25%;}
    .TM-5 .tbcol{width:20%;}
    .TM-6 .tbcol{width:16.66%;}
    .TM-7 .tbcol{width:14.28%;}
    .TM-8 .tbcol{width:12.5%;}
	.m-p-absolute{position:absoulte;}.m-p-fixed{position:fixed;}.m-p-relative{position:relative;}.m-p-static{position:static;}
	.M-SCROLLX{overflow-x:auto; white-space:nowrap;-webkit-overflow-scrolling:touch;display:block;}
	.M-SCROLLX > .item{float:none;display:inline-block;width:80%;}
	.M-TEXTCENTER{text-align:center;}
	.M-TEXTLEFT{text-align: left;}
	.M-TEXTRIGHT{text-align: right;}
	.M-BLOCK{display:block;}
	.m-inline-block{display:inline-block;}
	.M-HIDE{display: none;}
	.M-HIDE-I{display: none!important;}
	.M-MARGIN-AUTO{margin:auto;}
    .M-textcenter{text-align: center;}
    .M-textleft{text-align: left;}
    .M-textright{text-align: right;}
	.tblay.M-BLOCK>.tbrow{display:block!important;}
	.tblay.M-BLOCK>.tbcol{display:block!important;width:auto;}
	.col-m-12{width:100%;}
	.col-m-11{width:91.66%;}
	.col-m-10{width:83.33%;}
	.col-m-9{width:75%;}
	.col-m-8{width:66.66%;}
	.col-m-7{width:58.33%;}
	.col-m-6{width:50%;}
	.col-m-5{width:41.66%;}
	.col-m-4{width:33.33%;}
	.col-m-3{width:25%;}
	.col-m-2{width:16.66%;}
	.col-m-1{width:8.33%;}
}

@media screen and (max-width:480px){
	
	.fixLine2.fs3,.fixLine2.fs4,.fixLine2.fs5,.fixLine2.fs6,.fixLine2.fs7,.fixLine2.fs8,.fixLine2.fs9{height:auto;}
	.fixLine3.fs3,.fixLine3.fs4,.fixLine3.fs5,.fixLine3.fs6,.fixLine3.fs7,.fixLine3.fs8,.fixLine3.fs9{height:auto;}
	
	
	.S-BLOCK{display:block;}
	.s-no-float{float:none;}
	.s-inline-block{display:inline-block;}
	.S-BLOCK .tbcol{width:auto!important;}
	.S-HIDE{display: none;}
	.tblay.S-BLOCK>.tbrow{display:block!important;}
	.tblay.S-BLOCK>.tbcol{display:block!important;width:auto;}
	.S-AUTO > .item{display:block!important;width:auto!important;}
	.S-AUTO{display:block;width:auto;max-width:inherit!important;height:auto!important;max-height:inherit;}
	.S-MARGIN-AUTO{margin:auto;}
	.S-SCROLLX{overflow-x:auto; white-space:nowrap;-webkit-overflow-scrolling:touch;display:block;}
	.S-SCROLLX > .item{float:none;display:inline-block;width:80%;}
	.S-1 > .item{width:100%!important;}
	.S-2 > .item{width:50%!important;}
	.S-2{margin-left:-1rem;}.S-2 > .item{padding-left:1rem;margin-bottom:1rem;}
	.S-3 > .item{width:33.33%!important;}
	.S-4 > .item{width:25%!important;}
	.S-5 > .item{width:20%!important;}
	.S-6 > .item{width:16.66%!important;}
	.S-7 > .item{width:14.28%!important;}
	.S-8 > .item{width:12.5%!important;}
	.S-60 > .item{width:60%!important;}
	.S-70 > .item{width:70%!important;}
	.S-80 > .item{width:80%!important;}
	.S-90 > .item{width:90%!important;}
	.S-TEXTCENTER{text-align:center;}
    .S-textcenter{text-align: center;}
    .S-textleft{text-align: left;}
	.S-TEXTLEFT{text-align: left;}
    .S-textright{text-align: right;}
	.S-TEXTRIGHT{text-align: right;}
    .TS-1 .tbcol{width:100%;}
    .TS-2 .tbcol{width:50%;}
    .TS-3 .tbcol{width:33.33%;}
    .TS-4 .tbcol{width:25%;}
    .TS-5 .tbcol{width:20%;}
    .TS-6 .tbcol{width:16.66%;}
    .TS-7 .tbcol{width:14.28%;}
    .TS-8 .tbcol{width:12.5%;}
	.s-p-absolute{position:absoulte;}.s-p-fixed{position:fixed;}.s-p-relative{position:relative;}.s-p-static{position:static;}
	.col-s-12{width:100%;}
	.col-s-11{width:91.66%;}
	.col-s-10{width:83.33%;}
	.col-s-9{width:75%;}
	.col-s-8{width:66.66%;}
	.col-s-7{width:58.33%;}
	.col-s-6{width:50%;}
	.col-s-5{width:41.66%;}
	.col-s-4{width:33.33%;}
	.col-s-3{width:25%;}
	.col-s-2{width:16.66%;}
	.col-s-1{width:8.33%;}
	
}

@media screen and (max-width:380px){
	html{font-size:14px;}
}
@media screen and (max-width:320px){
	html{font-size:12px;}
}


.section {
    text-align: left;
    padding: 2rem 0;
}
.sev .innerContent .imgright {
    width: 400px;
}
.innerContent .imgright {max-width: 100%;float: right;width: 250px;border: 0.3rem solid #FFF;box-sizing:border-box;box-shadow: 0 0 1rem rgba(0,0,0,0.1);margin-left: 1rem;}
.in {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    box-sizing: border-box;
}